body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.App {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (min-width:768px) {
  .App {
    flex-direction: row;
  }
}

/***
Chat logs Section
**/

.chatbox {
  flex: 1;
  background-color: #125ae1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 5vh 1vw 10vh 1vw;
}

@media (min-width:768px) {
  .chatbox {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}

.chat-input-holder {
  padding: 12px;
  width: 100%;
  position: absolute;
  bottom: 0;
} 

.chat-log {
  width: 100%;
  max-width: 920px;
  overflow-y: auto;
}

form {
  width: 100%;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  padding: 4px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 50px 10px #00000070;
  border-radius: 25px;
  color: #000;
}

.chat-input-textarea {
  background-color: transparent;
  width: 100%; 
  border: none;
  outline: none;
  font-size: 20px;
}

.chat-input-textarea::placeholder {
  color: #000;
}

.chat-input-textarea:focus {
  box-shadow: 0px 0px 50px 10px #ffffff70;
}

.chat-input-btnSend {
  background-color: transparent;
  color: #125ae1;
  display: flex;
  gap: 20px;
}

.chat-input-btnImage {
  background-color: transparent;
  color: #125ae185;
  display: flex;
  gap: 20px;
}

.chat-input-btn:hover {
  color: #125ae1b2;
  cursor: pointer;
}





